# Default ignored files
/../../../../../../../OneDrive-UniversidadCatólicadeChile/Documents/UNAB/2025-2/BaseDeDatos/Codigos/.idea/shelf/
/../../../../../../../OneDrive-UniversidadCatólicadeChile/Documents/UNAB/2025-2/BaseDeDatos/Codigos/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../../OneDrive-UniversidadCatólicadeChile/Documents/UNAB/2025-2/BaseDeDatos/Codigos/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../../../OneDrive-UniversidadCatólicadeChile/Documents/UNAB/2025-2/BaseDeDatos/Codigos/.idea/dataSources/
/../../../../../../../OneDrive-UniversidadCatólicadeChile/Documents/UNAB/2025-2/BaseDeDatos/Codigos/.idea/dataSources.local.xml
